# Environment variables for Provider Microservice

# AWS Configuration (Optional if using IAM roles or default profile)
# AWS_REGION_NAME=us-east-1

# DynamoDB Configuration
DYNAMODB_TABLE_NAME=providers_prod # Or any other name you prefer

# For local development with DynamoDB Local
# DYNAMODB_ENDPOINT_URL=http://localhost:8000
# AWS_ACCESS_KEY_ID=dummyaccesskey # For DynamoDB Local
# AWS_SECRET_ACCESS_KEY=dummysecretkey # For DynamoDB Local
